@page "/"
@using IW5.Models.Entities
@using IW5.Web.App.Components
@inject IW5ApiService ApiService

<PageTitle>Home</PageTitle>

<h1>Forms</h1>

<div class="row">
    @if (forms == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var form in forms)
        {
            <div class="col-md-4">
                <FormCard Form="form" />
            </div>
        }
    }
</div>

@code {
    private List<Form> forms;

    protected override async Task OnInitializedAsync()
    {
        forms = await ApiService.GetAllFormsAsync();
        foreach(Form form in forms)
        {
            Console.WriteLine(form.Title);
        }
    }
}
